<phpunit testdox="true" stop-on-failure="false" colors="true" bootstrap="bootstrap.php">
	<testsuites>
		<testsuite name="PHP-XLIFF Test Suite">
			<file>test-xliff-library.php</file>
		</testsuite>
	</testsuites>
	<logging>
		<log type="junit" target="logs/junit.xml" logIncompleteSkipped="false"/>
	</logging>
</phpunit>
